doctype html
html
  head
    title= title
    meta(name='description', content= description)
    meta(http-equiv="content-type", content="#{contentType}; charset=UTF-8")
  body
    h1= title
    p= description
